{% extends "MoviesCollectionBaseTemplate.html" %}
{% block title %}MoviesCollection{% endblock %}

{% block content %}
<section class="presentation jumbotron jumbotron-fluid bg-dark ">
    <h1 class="home-text display-4">Le plaisir de regarder un film. Autrement.</h1>
    <h2 class="lead">Il est déjà arrivé à tout le monde de ne pas savoir quoi regarder un soir.</h2>
    <h2 class="lead">Que vous soyez chez vous ou non, MoviesCollection, c'est la nouvelle façon de profiter de votre collection et de trouver des films à regarder, en quelques clics.</h2>
    <button type="button" class="random btn btn-primary btn-lg btn-light">Trouver un film à regarder</button>
</section>
<section id="randomSelection" class="container">
    <h3><i class="fas fa-random"></i> Quelques films au hasard</h3>
    {% for row in films|batch(4) %}
    <div class="row">
        {% for film in row %}
        <div class="col-sm">
            <div class="card bg-dark text-white">
                <img src="{{posterUrl}}" class="card-img" alt="Affiche du film {{movieName}}.">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{movieName}}</h5>
                    <p class="card-text">Année : {{movieYear}}</p>
                    <p class="card-text">Réalisateur : {{movieDirector}}</p>
                    <p class="card-text">{{movieStudio}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>
<section id="latestAdditions" class="container">
    <h3><i class="fas fa-clock"></i> Les derniers ajouts</h3>
    <div class="row">
        <p>Work in progress...</p>
    </div>
</section>
<section id="favoriteMovies" class="container">
    <h3><i class="fas fa-star"></i> Vos films préférés</h3>
    <div class="row">
        <p>Work in progress...</p>
    </div>
</section>
{% endblock %}